body, td, th {
    color: #FFFFFF;
}

body {
    background-color: #f1f1f1;
}

.STYLE7 {
    color: #3986b2;
    font-size: 24px;
    font-family: "微软雅黑";
}

.STYLE9 {
    font-size: 16px;
}

.STYLE12 {
    font-size: 100px;
    color: #3986b2;
    font-family: "微软雅黑";
}

.STYLE13 {
    font-weight: bold;
    color: #2c9bdc;
    text-decoration: none;
}
