<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="mySqlSugar" version="3.5.3.4" targetFramework="net45" />
  <package id="Nancy" version="1.4.3" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Validation.DataAnnotations" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Validation.DataAnnotations.Extensions" version="0.4.0" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net45" />
</packages>