<div class="panel">
    <div class="panel-head">
        <span class="glyphicon glyphicon-user"></span>
        <strong>
            关于博主
        </strong>
    </div>
    <div class="panel-body about">
        <div class="text-center">
            <img id="img" src="@ViewBag.Configs.AboutMeImg" />
            <a id="name" href="@ViewBag.Configs.AboutMeUrl" target="_blank">
                @Html.Raw(ViewBag.Configs.AboutMeName)
            </a>
        </div>
        <div style="border-top:1px solid #ddd;padding-top:5px;">
            <p id="intro">
                @Html.Raw(ViewBag.Configs.AboutMeIntro)
            </p>
        </div>
    </div>
</div>

<style>
    #img {
        cursor: pointer;
        border: solid 1px #ddd;
        padding: 4px;
        width: 96px;
        border-radius: 50%;
    }

    #intro {
        text-align: center;
        word-break: break-all;
        font-size: 14px;
    }

    #name {
        text-decoration: none;
        outline: none;
        font-size: 16px;
    }

    .about a {
        border: none;
    }

        .about a:hover {
            text-decoration: none;
            background-color: transparent;
        }
</style>
