<div class="panel">
    <div class="panel-head">
        <span class="glyphicon glyphicon-user"></span>
        <strong>
            关于博主
        </strong>
    </div>
    <div class="panel-body about">
        <div class="text-center">
            <img id="img" src="/Contents/User/icon.png" />
            <a id="name" href="http://cn.bing.com" target="_blank">
                xxxxxxx
            </a>
        </div>
        <div style="border-top:1px solid #ddd;padding-top:5px;">
            <p id="intro">博主的简介简介一大堆</p>
        </div>
    </div>
</div>

<style>
    #img {
        cursor: pointer;
        border: solid 1px #ddd;
        padding: 4px;
        width: 96px;
        border-radius: 50%;
    }

    #intro {
        text-align: center;
        word-break: break-all;
        font-size: 16px;
    }

    #name {
        text-decoration: none;
        outline: none;
        font-size: 16px;
    }

    .about a {
        border: none;
    }

        .about a:hover {
            text-decoration: none;
            background-color: transparent;
        }
</style>