<div class="panel">
    <div class="panel-head">
        <span class="glyphicon glyphicon-user"></span>
        <strong>
            关于博主
        </strong>
    </div>
    <div class="panel-body about">
        <div class="text-center">
            <img id="img" src="/Contents/User/icon.png" />
            <a id="name" href="http://s.weibo.com/weibo/%25E7%258E%25A9%25E5%258F%258C%25E6%2588%25AA%25E6%25A3%258D%25E7%259A%2584%25E7%2586%258A%25E7%258C%25AB?topnav=1&wvr=6&b=1" target="_blank">
                玩双截棍的熊猫
            </a>
        </div>
        <div style="border-top:1px solid #ddd;padding-top:5px;">
            <p id="intro">DotNe小菜鸟一只,努力学习各种姿势中</p>
        </div>
    </div>
</div>

<style>
    #img {
        cursor: pointer;
        border: solid 1px #ddd;
        padding: 4px;
        width: 96px;
        border-radius: 50%;
    }

    #intro {
        text-align: center;
        word-break: break-all;
        font-size: 14px;
    }

    #name {
        text-decoration: none;
        outline: none;
        font-size: 16px;
    }

    .about a {
        border: none;
    }

        .about a:hover {
            text-decoration: none;
            background-color: transparent;
        }
</style>
