@model MyBlog.Core.ViewProjections.Home.PostViewModel
@{
    Layout = "_HomeLayout";
    ViewBag.Title = $"文章详情:{Model.PostInfo.post_title}";
}

<div id="post-details">
    <b class="post-title">@Model.PostInfo.post_title</b>
    <div class="post-time" style="margin-bottom:30px;">
        <i class="glyphicon glyphicon-calendar"></i>&nbsp;<span>@Model.PostInfo.post_pub_time</span>
    </div>
    <div style="word-break: break-all;">
        @Html.Raw(System.IO.File.ReadAllText(Model.PostInfo.post_path))
    </div>
    <div style="margin-top:20px;">
        @if (null != Model.PostTags && Model.PostTags.Length > 0)
        {
            <i class="glyphicon glyphicon-tags"></i>@(Html.Raw("&nbsp;"))
            foreach (var tag in Model.PostTags)
            {
                <a class="post-tag" href="/TagPosts/Home/Tags/@(tag)/1" target="_blank">[&nbsp;@(tag)&nbsp;]</a>
            }
        }
    </div>
</div>
