@model MyBlog.ViewProjections.Home.PostViewModel
@{
    Layout = "_HomeLayout";
    ViewBag.Title = $"详情-{Model.PostInfo.Title}";
}

<div id="post-details">
    <b class="post-title">@Model.PostInfo.Title</b>
    <div class="post-time" style="margin-bottom:30px;">
        <i class="glyphicon glyphicon-calendar"></i>&nbsp;<span>@Model.PostInfo.PublishDate</span>
    </div>
    <div style="word-break: break-all;">
        @Html.Raw(Model.PostInfo.Content)
    </div>
    <div style="margin-top:20px;">
        @if (null != Model.PostTags && Model.PostTags.Length > 0)
        {
            <i class="glyphicon glyphicon-tags"></i>@(Html.Raw("&nbsp;"))
            foreach (var tag in Model.PostTags)
            {
                <a class="post-tag" href="/posts/@Html.Encode(tag)/1" target="_blank">[&nbsp;@(tag)&nbsp;]</a>
            }
        }
    </div>
</div>
