@* 修改密码页面 *@
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "修改密码";
}
<header id="header">
    <a href="/Admin/Index">
        <i class="glyphicon glyphicon-chevron-left" style="margin-right:5px;"></i>返回
    </a>
</header>

<div class="container">
    <div class="well col-md-5 col-md-offset-3">

        <form action="/Admin/ChangePassword"
              method="post"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-loading="#loding"
              data-ajax-success="success"
              data-ajax-begin="begin"
              novalidate="novalidate"
              data-val="true">
            <h1>修改密码</h1>
            <br />
            <input name="OldPassword"
                   type="password"
                   class="form-control"
                   data-val="true"
                   data-val-required="请输入旧密码"
                   placeholder="旧密码"
                   required="required"
                   value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span><br />
            <input name="NewPassword"
                   type="password"
                   class="form-control"
                   data-val="true"
                   data-val-required="请输入新密码"
                   placeholder="新密码"
                   required="required"
                   value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span><br />
            <input name="ConfirmNewPassword"
                   type="password"
                   class="form-control"
                   data-val="true"
                   data-val-required="请确认新密码"
                   placeholder="确认新密码"
                   required="required"
                   value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmNewPassword" data-valmsg-replace="true"></span><br />
            <input id="btnSubmit" type="submit" class="btn btn-default form-control" value="确认修改" />
        </form>
    </div>
</div>
<script src="/js/myscripts/changePassWord.js")"></script>
